* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}

#headercon {
    background-color: #cccccc;
    background-image: url("heroimg.png");
    width: 100%;
    max-width: 1800px;
    height: max-content;
    margin: 0;
    padding: 50px 0;
    /* position: absolute; */
    background-position: 25% 75%;
}
#headercon h1 {
    font-size: 64px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: #d85c32;
    border-width: 5px;
    color: #d85c32;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    margin: 50px auto;
    position: relative;
    width: fit-content;
    background-color: rgba(255, 255, 255, .75);;
    background-blend-mode: overlay;
}

#headercon h2 {
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #000000;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, .75);
    width: fit-content;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

h1 {
    position: relative;
}

#footercon {
    background-color: #d85c32;
    padding: 20px;
    
}

#footercon h1 {
    color: white;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}

/* Resp */
@media only screen and (max-width: 900px) {
    #headercon h1  {
        font-size: 48px;
    }
    #headercon h2, #footercon h1  {
        font-size:24px;
    }
  }
  @media only screen and (max-width: 420px) { 
    #headercon h1  {
        font-size: 32px;
        padding: 12px;
    }
    #headercon h2, #footercon h1  {
        font-size:18px;
        padding: 10px;
    }
    #headercon {
        padding: 25px 0;
    }
  }